body{
	margin: 0;
	font-family: "RodinNTLG Pro";
	font-weight: 200;
}

h2{
	font-size: min(3vw, 36px);
    font-weight: 500;
}

p{
	font-size: min(2vw, 24px);
}

.page{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	overflow: scroll;
	transition: 0.3s;
}

/* HOME PAGE */

.homePage{
	z-index: 0;
}

.aniHomePage{
	scale: 1.2;
	opacity: 0;
}

.toArena{
	padding: max(0.5vw, 6px) max(1.25vw, 15px);
	border-radius: 0 0 0 max(1.5vw, 15px);
	color: black;
	font-size: max(1.25vw, 15px);
	font-weight: 500;
	text-decoration: none;
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.5s;
}

.toArena:hover{
	color: #FF9711;
	transition: 0.2s;
}

.welcomeSect{
	height: max(50vw, 400px);
	max-height: 70vw;
	width: 100vw;
}

.welcomeImgCont{
	width: 100vw;
	height: 120%;
	position: absolute;
	top: -10vw;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.welcomeImg{
	width: 100%;
}

.welcomeCont{
	width: fit-content;
	margin: auto;
	padding: max(10vw, 100px) 0 0 0;
	text-align: center;
}

.welcomeTitle{
	margin: min(-1vw, -10px);
	width: max(50vw, 500px);
	max-width: 90vw;
}

.welcomeSubtitle{
	margin: max(1.5vw, 15px);
	font-size: max(2vw, 20px);
}

.mainSect{
	width: 100vw;
	background-color: white;
}

.mainTitle{
	margin: 0;
	padding: 25px min(10vw, 100px);
}

.mainText{
	margin: 0;
	padding: 20px min(10vw, 100px);
}

.roomSect{
	width: 100vw;
	background-color: white;
}

.roomTitle{
	margin: 0;
	padding: 20px min(10vw, 100px);
}

.roomCardCont{
	margin: 0px 40px;
	padding: 50px 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 2vw;
}

.roomCard{
	width: 31.88%;
	position: relative;
	border-radius: 6.5%;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
	font-size: calc(3.3vw - 1.32px);
	line-height: 0;
	z-index: 0;
	transition: 0.1s ease-out;
}

.roomCard:hover{
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
	cursor: pointer;
	scale: 1.02;
	transition: 0.15s cubic-bezier(.34,2.38,.79,2.00);
}

.aniRoomCard{
	scale: 1.02;
	transition: 0.15s cubic-bezier(.34,2.38,.79,2.00);
}

.cardBox{
	width: 100%;
}

.roomImg{
	width: 96%;
	border-radius: 10px;
	position: absolute;
	top: 2.8%;
	left: 2.3%;
	z-index: -1;
}

.roomCardTitle{
	width: 50%;
	margin: 0;
	font-size: 72%;
    font-weight: 500;
	position: absolute;
	bottom: 31.5%;
	left: 3.5%;
}

.roomCardText{
	width: 90%;
	margin: 0;
	font-size: 47%;
	line-height: 150%;
	position: absolute;
	bottom: 3.5%;
	left: 3.5%;
}

.roomCardRent{
	margin: 0;
	position: absolute;
	top: 8.8%;
	right: 8.8%;
	font-size: 62%;
}

.pokedollar{
	height: 7%;
	position: absolute;
	top: 5.2%;
	right: 4.5%;
}

.footer{
	height: max(12vw, 120px);
	background-image: linear-gradient(
		0deg,
		rgba(255, 230, 96, 1) 25%,
		rgba(255, 146, 17, 1) 75%
	);
}

.footerCont{
	height: 100%;
	width: fit-content;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerText{
	height: fit-content;
	width: fit-content;
	margin: 1vw 3vw;
	padding: 8px 16px;
	border-radius: 12px;
	background-color: white;
	font-size: min(2.2vw, 28.8px);
}

/* ##### ROOM PAGE ################################### */

.roomPage{
	background-color: white;
	scale: 1;
	opacity: 1;
	z-index: -1;
}

.aniRoomPage{
	scale: 0.9;
	opacity: 0;
}

.backBtn{
	padding: max(0.5vw, 6px) max(1.25vw, 15px);
	border-radius: 0 0 max(1.5vw, 15px) 0;
	color: black;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
	font-size: max(1.25vw, 15px);
	font-weight: 500;
	text-decoration: none;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	transition: 0.5s;
}

.backBtn:hover{
	color: #FF9711;
	transition: 0.2s;
}

.roomPageCont{
	margin: 60px min(10vw, 100px);
	display: flex;
}

.roomPageText{
	width: 100%;
	margin: 0;
}

.roomPageTitle{
	margin: 0;
}

.roomPageDesc{
	margin: 0;
}

.roomPageImg{
	width: 100%;
	margin: 0;
}

.bookingTitle{
	margin: 0px 40px;
}

.bookingSubtitle{
	margin: 0px 40px;
}

.bookingCont{
	margin: 30px 40px;
	display: flex;
	justify-content: center;
}

.datesCont{
	height: fit-content;
	width: fit-content;
	margin: 0vw 3vw 0vw 0vw;
	padding: 2px;
	background-image: linear-gradient(
		0deg,
		#C4C4C4 25%,
		#D9D9D9 75%
	);
	display: grid;
	grid-template: repeat(5, 1fr) / repeat(7, 1fr);
	grid-gap: 2px;
}

.dateSquare{
	height: min(5vw, 60px);
	min-height: 44px;
	width: min(5vw, 60px);
	min-width: 44px;
	background-color: white;
	position: relative;
	overflow: hidden;
	cursor: default;
}

.booked{
	background-image: linear-gradient(
		0deg,
		#A1A1A1 25%,
		#BABABA 75%
	);
}

.selected{
	background-image: linear-gradient(
		0deg,
		#ffcf33 25%,
		#FF9211 75%
	);
}

.dateSquareNum{
	margin: 0;
	position: absolute;
	top: -20%;
	left: 5%;
}

.inputCont{
	margin: 0vw 0vw 0vw 3vw;
}

.totalCostCont{
	width: fit-content;
	display: flex;
}

.totalCost{
	margin: 18px 0px;
}

.translate{
	margin-left: 8px;
}

.pokedollarChar{
	font-family: "Pokedollar";
}

.bookingPopupCont{
	height: 100vh;
	width: 100vw;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.2s;
	z-index: 1;
}

.aniBookingPopupCont{
	background-color: rgba(0, 0, 0, .2);
	opacity: 1;
	transition: 0.1s;
}

.bookingPopup{
	width: 90vw;
	max-width: 600px;
	margin: 150px auto;
	padding: 12px;
	border-radius: 16px;
	background-color: white;
	text-align: center;
}

.popupText{
	opacity: 0;
}

.aniPopupText{
	opacity: 1;
}

.popupBtn{
	padding: 0px 12px;
	color: var(--text);
	background-color: white;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 18px;
	border-color: black;
	font-size: min(2.8vw, 16px);
	font-family: "RodinNTLG Pro";
	font-weight: 200;
	transition: 0.5s;
}

@keyframes keyfBookingPopup{
	0%{
		width: 20px;
	}
	100%{
		width: 90vw;
	}
}

@media (max-width: 1000px){
	h2{
		font-size: max(3vw, 28px);
	    font-weight: 500;
	}

	p{
		font-size: max(2vw, 18.6px);
	}

	.roomPokedollar{
		height: max(2vw, 18.6px);
	}

	.footerText{
		font-size: max(2.2vw, 16px);
	}

	.roomCard{
		width: 48.79%;
		font-size: calc(5vw - 2px);
	}
}

@media (max-width: 600px){
	.roomCard{
		width: 100%;
		font-size: calc(10vw - 4px);
	}

	.roomPageCont{
		flex-direction: column;
	}

	.bookingCont{
		flex-direction: column;
	}

	.footerCont{
		flex-direction: column;
	}
}

@font-face{
    font-family: "RodinNTLG Pro";
    src:
        local("FOT-RodinNTLG Pro M"),
        url("-stuff/-fonts/FOT-RodinNTLG Pro M.otf");
    font-weight: 200;
}

@font-face{
    font-family: "RodinNTLG Pro";
    src:
        local("FOT-RodinNTLG Pro B"),
        url("-stuff/-fonts/FOT-RodinNTLG Pro B.otf");
    font-weight: 500;
}

@font-face{
    font-family: "RodinNTLG Pro";
    src:
        local("FOT-RodinNTLG Pro EB"),
        url("-stuff/-fonts/FOT-RodinNTLG Pro EB.otf");
    font-weight: 900;
}

@font-face{
    font-family: "Sun-Moon";
    src:
        local("Sun-Moon"),
        url("-stuff/-fonts/Sun-Moon.ttf");
    font-weight: 900;
}

@font-face{
    font-family: "Pokedollar";
    src:
        url("-stuff/-fonts/pokedollar.ttf");
    font-weight: 900;
}