body{
	margin: 0;
	font-family: "RodinNTLG Pro";
	font-weight: 200;
	position: relative;
}

.sus{
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
	display: none;
	opacity: 0;
	transition: 0.8s;
	z-index: 1;
}

.aniSus{
	opacity: 1;
	transition: 0s;
}